name: Release application

on:
  push:
    branches:
      - 'develop'
      - 'main'

env:
  REGISTRY: ghcr.io

jobs:
  deploy:
    name: Publish to github registry
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: repo name to lowercase
        id: repository_owner
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}

      - name: Set derived environment variable
        run: echo "IMAGE_NAME=$REGISTRY/${{ github.steps.repository_owner.outputs.lowercase }}" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,latest
            type=raw,value={{date 'YYYYMMDD-HHmm'}}
            type=edge

      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Slim image
        id: slim
        uses: kitabisa/docker-slim-action@v1
        env:
          DSLIM_HTTP_PROBE: false
        with:
          target: ${{ env.IMAGE_NAME }}:latest
          tag: "slim"

      - name: Push to the registry
        id: push
        run: docker image push "${{ env.IMAGE_NAME }}" --all-tags