name: Release application

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 0 * * 5'  # This runs the pipeline every Friday at 00:00

env:
  REGISTRY: ghcr.io
  BASE_IMAGE: registry.access.redhat.com/ubi9/openjdk-21-runtime:latest

jobs:
  deploy:
    name: Publish to github registry
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: repo name to lowercase
        id: repository_owner
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}

      - name: Set derived environment variable
        run: echo "IMAGE_NAME=$REGISTRY/${{ steps.repository_owner.outputs.lowercase }}" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull base image and get SHA256 hash
        run: |
            docker pull ${{ env.BASE_IMAGE }}
            BASE_IMAGE_DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ${{ env.BASE_IMAGE }})
            echo "BASE_IMAGE_DIGEST=${BASE_IMAGE_DIGEST#*@}" >> $GITHUB_ENV

      - name: Extract metadata (tags, labels) for Docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,latest
            type=raw,value={{date 'YYYYMMDD-HHmm'}}
            type=edge

      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          no-cache: 'true'
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            org.opencontainers.image.base.digest=${{ env.BASE_IMAGE_DIGEST }}
